body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #001e4d;
}

.quiz-container {
    width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.btn {
   background: #fff;
   color: #222;
   font-weight: 500;
   width: 100%;
   border: 1px solid #222;
   padding: 10px;
   margin: 10px 0;
   text-align: left;
   border-radius: 4px;
   cursor: pointer;
   transition: all 0.3s;
}
.btn:hover{
    background: #222;
    color: #fff;
}
#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}
.btn.correct {
    background: #9aeabc;
}

.btn.wrong {
    background: #ff9393;
}

.controls {
    margin-top: 20px;
}

.hide {
    display: none;
}

#score-container {
    margin-top: 20px;
    font-size: 1.2em;
}
